header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 5vh;
    padding-inline: 10px;
    background-color: lightblue;

    a {
        margin-inline-start: 1em;
    }
}

.logo-container {
    width: 200px;
    display: flex;
    gap: 20px;
    height: 100%;

    h1 {
        letter-spacing: 2px;
    }

    img {
        width: 100%;
        object-fit: cover;
        background-image: none;
    }
}